@charset "utf-8";
		/* CSS Document */
		/* webkit*/
		::-webkit-input-placeholder {
		color:#777;
		}
		/*moz*/
		::-moz-placeholder {
		color:#777;
		}
		/* 重构HTML全局属性 设置局部重用性样式 */
		* html, * html body { /*background-image:url(about:blank);*/ background-attachment:fixed }
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-style:normal; text-decoration:none }
		ol, ul { list-style:none }
		blockquote, q { quotes:none }
		blockquote:before, blockquote:after, q:before, q:after { content:''; content:none }
		:focus { outline:0 }
		ins { text-decoration:none }
		del { text-decoration:line-through }
		table { border-collapse:collapse; border-spacing:0 }
		input[type="checkbox"]{margin:0; padding:0}
		body { font-family:"微软雅黑",Microsoft YaHei,Arial, Helvetica, sans-serif, "宋体"; font-size:12px; color:#333}
		a:link, a:visited, a:hover, a:active{ font-family:"微软雅黑",Microsoft YaHei,Arial, Helvetica, sans-serif, "宋体"; text-decoration:none; outline:none}
		a {color:#006fcd;
		-webkit-transition: 0.2s ease-out;
			-moz-transition: 0.2s ease-out;
			-o-transition: 0.2s ease-out;
			transition: 0.2s ease-out;
		}
		a:hover { color: #e44525; text-decoration:none}
		a.underline{text-decoration:underline}
		/* globle class */
		.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0px; height:0px }
		.clearfix:after { content:"\0020"; display:block; height:0; clear:both }
		.clearfix { _zoom:1 }
		*+html .clearfix { overflow:hidden}
		.close_select { -moz-user-select:none; -khtml-user-select:none }
		/* all */
		::-webkit-input-placeholder {color:#999}
		input:-moz-placeholder {color:#999}


		body{background:#f7f7f7}
		.main{max-width:480px; margin:auto;}
		.fMtab{border:1px solid #eee; padding:0 12px; background:#fff}
		.fMtab{ list-style:none;}
		.fMtab li{border-bottom:1px solid #e9e9e9; padding:5px 0 5px; height:35px; position:relative}
		.fMtab li:last-child{border:0}
		.fMtab li input{border:0; height:32px; line-height:32px ; width:90%}
		  

		/*按钮*/
		.siBtn{margin:20px 5px;}
		.siBtn a{display:block; background:#00a0e9; color:#fff; padding:10px 0; text-align:center; font-size:16px;
		  -moz-border-radius:5px;
		-webkit-border-radius:5px;   
		border-radius:5px
		}
		.siBtn .gray{background:#dedede}
		.siBtn .white{background:#fff; border:1px solid #00a0e9; color:#00a0e9;}
		.siBtn .yellow{background:#FFA500;}
		
		/*提示*/
		.msMi{border:1px dashed #999; padding:15px; line-height:22px}
		.msMi .mTi{font-size:16px}
		.msMi .mColor{ color:Red;}
		
		/*距离*/
		.mNavHgt{height:20px}
		
		/*列表*/
		.oTab{background:#fff}
		.oTab table{width:100%}
		.oTab th{background:#0099CC; padding:10px 0; color:#fff; text-align:center; font-weight:bold; font-size:14px;}
		.oTab td{padding:15px 0; color:#666;  text-align:center; border-bottom:1px solid #ddd; height: 20px; }

 		/*头部文字*/
	 	.uNs{ margin-left: 15px;}
		.uNs li{padding-bottom:5px; font-size:12px; color:#aaa;}
		.uNs li i{font-size:14px; color:#757575;}
	 
		/*弹窗*/
	 	.uiMask{position:fixed;z-index:150;width:100%;height:100%;top:0;left:0;background:#000;
		filter:alpha(opacity=60);
		-moz-opacity:0.6;
		-khtml-opacity: 0.6;
		opacity: 0.6;
		}
		.uiMask iframe{width:100%;height:100%;opacity: 0;filter: alpha(opacity=0);border:0;padding:0;}
		.uiBox{background:#fff; position:fixed; z-index:151; left:50%; top:50%; border:5px solid #75787c;
		  -moz-border-radius:10px;
		    -webkit-border-radius:10px;
		    border-radius:10px;
		}
		.uiBox .uiTit{background:#479be9; padding:10px; color:#fff; font-size:14px; position:relative}
		.uiBox .uiTit .cose{width:20px; height:20px; color:#fff; font-size:18px; text-align:center; line-height:20px; cursor:pointer; position:absolute; right:5px; top:5px}
		.uiBox .uiCon{background:#fff; padding:20px; 
		  -moz-border-radius:10px;
		    -webkit-border-radius:10px;
		    border-radius:10px;
		}
		.uiBox input{height:32px; line-height:32px ; width:100%; border: 1px solid #ccc; margin: 20px 0; font-size: 12px;
					 -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
		.btnm{display:block; background:#00a0e9; color:#fff; padding:10px 0; text-align:center; font-size:16px;
		  -moz-border-radius:5px;
		-webkit-border-radius:5px;   
		border-radius:5px
		}
		.btnm2{display:block; border:1px solid #00a0e9; background:#fff; color:#00a0e9; padding:10px 0; text-align:center; font-size:16px;
		  -moz-border-radius:5px;
		-webkit-border-radius:5px;   
		border-radius:5px
		}
		.butnt{width:80px; display:inline-block; padding:8px 0; font-size:14px}
		
		.red {
		    color: red;
		}