
body
{
    font-family: '微软雅黑';
    margin: 0 auto;
    font-size: 9px;
}
ul
{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.divParent
{
    width: 30%;
    height: auto;
    position: relative;
    float: left;
    display: inline;
    border: solid 1px #3F0772;
    margin-top: 20px;
    margin-left: 10px;
}
.div_left_group
{
    height: 425px;
    width: 350px;
    overflow: auto;
    border: solid 1px #3F0772;
    padding: 5px;
    margin-top: 20px;
    margin-left: 50px;
}
.div_left
{
    height: 450px;
    overflow: auto;
    border-width: 0px;
    overflow: hidden;
}
.div_right
{
    height: 418px;
    padding: 10px;
    overflow: auto;
    margin-left: 5px;
}
.div_users
{
    height: 285px;
    overflow: auto;
    border: solid 1px #3F0772;
    padding: 5px;
    margin-top: 5px;
}
.div_middle
{
    width: 5px;
    height: auto;
    float: left;
    display: inline;
}
.functions
{
    width: 600px;
    text-align: center;
    border: solid 0px red;
    clear: both;
    margin-left: 130px;
    margin-top: 20px;
}
.scbtn
{
    width: 85px;
    height: 35px;
    background: url(../Images/sms/btnbg.png) no-repeat center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    behavior: url(js/pie.htc);
}
.place
{
    height: 40px;
    background: url(../Images/sms/righttop.gif) repeat-x;
}
.place span
{
    line-height: 40px;
    font-weight: bold;
    float: left;
    margin-left: 12px;
}
.placeul li
{
    float: left;
    line-height: 40px;
    padding-left: 7px;
    padding-right: 12px;
    text-decoration: none;
    background: url(../Images/sms/rlist.gif) no-repeat right;
}
.placeul li:last-child
{
    background: none;
}
.placeul a, a:focus
{
    text-decoration: none;
    color: #3186c8;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}
.rightinfo
{
    padding: 8px;
}
.formtitle, .formtitle1
{
    border-bottom: solid 1px #d0dee5;
    line-height: 35px;
    position: relative;
    height: 35px;
    margin-bottom: 28px;
    margin-top: 10px;
}
.formtitle span, .formtitle1 span
{
    font-weight: bold;
    font-size: 14px;
    border-bottom: solid 3px #66c9f3;
    float: left;
    position: absolute;
    z-index: 100;
    margin-top: 10px;
    height: 30px;
    line-height: 10px;
    bottom: 0px;
}
