<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <!--日志文件路径-->
      <!--相对路径,在项目的根目录下-->
      <!--以最后一个路径为准-->
      <param name="File" value="Logs\\"/>
      <param name="AppendToFile" value="true" />
      <!--可以为:Once|Size|Date|Composite-->
      <!--Composite为Size和Date的组合-->
      <param name="RollingStyle" value="Date" />
      <!--当备份文件时,为文件名加的后缀-->
      <!--后缀为*.txt时,例:AX.txt_2008-07-24.PxP  应该是程序上的一个bug-->
      <!--后缀为*.TXT时,例:AX.txt_2008-07-25.TXT-->
      <param name="DatePattern" value="yyyyMMdd" />
      <!--置为true,当前最新日志文件名永远为file节中的名字-->
      <param name="StaticLogFileName" value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="10240" />
      <!--这两个好像无效-->
      <layout type="log4net.Layout.PatternLayout">
        <!--输出样式-->
        <param name="ConversionPattern" value="时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}][行号：%L] - 错误描述：%message%newline"/>
        <param name="Header" value="
----------------------header--------------------------
" />
        <param name="Footer" value="
----------------------footer--------------------------
" />
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>-->
    </appender>

    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

     

    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="AdoNetAppender_SQL" />-->
      <appender-ref ref="LogFileAppender1" />
    </root>
    <logger name="Developer">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender1"/>
    </logger>

 
  </log4net>
</configuration>