<?xml version="1.0" encoding="UTF-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
     <properties resource="properties.config"/>
  <settings  >
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>

  </settings>

  <database>
    <provider name="sqlServer1.1" />
    <!--<dataSource name="SqlServer" connectionString="data source=USER-TMG2NGQN0B;database=MONO.FB;user id=sa;password=123456;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50" />-->
    <dataSource name="USER-TMG2NGQN0B" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=30; min pool size=1; max pool size=50" />
  </database >

  <sqlMaps>
    <!--Business-->
    <sqlMap resource="Maps/Business/BusinesserBaseInfos.xml"/>
    <!--Business-->

  </sqlMaps>
</sqlMapConfig>
