<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms name=".EDBFORMSAUTH" loginUrl="Index.aspx" defaultUrl="Default.aspx" timeout="1440"/>
    </authentication>
    <sessionState timeout="600" mode="InProc"/>
    <authorization>
      <allow users="?" />
    </authorization>



    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
    <add key="navUrl" value="http://localhost:9012/"/>
    <add key="ActiveFolder" value="E://Distribution//Waitting"/>
    <add key="BackupFolder" value="E://Distribution//Backups"/>
    <add key="MauFaildUrl" value="http://113.207.124.164/Order/SxdCallBack.aspx"/>
    <add key="CM023Folder" value="E://Distribution//CM023"/>
    <add key="BaseFolder" value="E://Distribution//"/>
    <add key="IsDiffFolder" value="1"/>
  </appSettings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MsgSendSoap" />
      </basicHttpBinding>

    </bindings>
    <client>
      <endpoint address="http://sms.cqmono.cn/api/MsgSend.asmx" binding="basicHttpBinding"
          bindingConfiguration="MsgSendSoap" contract="MessageService.MsgSendSoap"
          name="MsgSendSoap" />

    </client>
  </system.serviceModel>
</configuration>
