<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--   User application and configured property settings go here.-->
  <!--   Example: <add key="settingName" value="settingValue"/> -->
  <add key="provider" value="sqlServer1.1" />
  <add key="userid" value="sa" />
  <add key="password" value="123456" />
  <add key="database" value="MONO.Distribution" />
  <add key="datasource" value="11-PC\MONO" />
  <add key="root" value="./" />
</settings>